/* --------------- Site title ---------------- */
main .site-title{
    background: url('../assets/Background-image.png');
    background-size: cover;
    height: 70vh;
    display: flex;
    justify-content: center;
}

main .site-title .site-background{
    position: absolute;               
    top: 50%;                         
    transform: translate(0, -50%);
    text-align: center;
    color: var(--white);
}

main .site-title h1, h3{
    margin: .3rem;
}

main .site-title .btn{
    margin: 1.8rem;
    background: transparent;
    color: white;
}

main .site-title .btn:hover{
    background: white;
    border: 1px solid white;
    color: black;
}